.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basket {
	font-size:(475.085/10)*1rem;
	width:(475.084/475.085)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-clock {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-close {
	font-size:(487.595/10)*1rem;
	width:(487.595/487.595)*1em;
}
.icon-favor {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-home {
	font-size:(460.297/10)*1rem;
	width:(460.298/460.297)*1em;
}
.icon-instagram {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-mail {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-phone {
	font-size:(384/10)*1rem;
	width:(384/384)*1em;
}
.icon-search {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-slider-arrow {
	font-size:(47/10)*1rem;
	width:(28/47)*1em;
}
.icon-star {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-star-clear {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-tag {
	font-size:(426.67/10)*1rem;
	width:(426.67/426.67)*1em;
}
.icon-viber {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-vk {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
