mixin s-page-banners()
	// start s-page-banners
	+b.SECTION.s-page-banners.section#s-page-banners&attributes(attributes)
		+e.banner-row.row
			.col-md-6
				+e.A.banner-sm(href='#')
					img.res-i(src='img/@2x/banner-sm1.jpg' alt='#')
			.col-md-6
				+e.A.banner-sm(href='#')
					img.res-i(src='img/@2x/banner-sm2.jpg' alt='#')
	// end s-page-banners