
// start .s-page-banners
.s-page-banners {
	padding: 0;
	margin-bottom: rem(20);

	&__banner-row{
		margin-bottom: rem(10);
		text-align: center;
	}

	&__banner-sm{
		display: inline-block;
		@include media-breakpoint-down(sm){
			margin-bottom: rem(20);
		}
	}
		
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-page-banners