mixin s-about()
	// start s-about
	+b.SECTION.s-about.section#s-about&attributes(attributes)
		+e.main-img-wrap
			img.res-i(src='img/@2x/about-main-i.jpg' alt='')
		p Компания «Цементный двор» занимается комплексными поставками цемента, песка, щебня и других строительных материалов в Симферополе, Севастополе и Крыму. Более 10 лет мы обеспечиваем крымских строителей качественной продукцией от надежных поставщиков. На складах компании только оригинальный цемент от заводов производителей. Есть возможность официального тарирования цемента, с заводом изготовителем заключен сублицензионный договор.
		p Особенность компании – отлаженная логистика. Производственная база имеет свою железнодорожную ветку и прирельсовые склады. Это дает возможность принимать продукцию вагонами сразу на склад. Большая складская площадь позволяет иметь запас товара в наличии и отгружать цемент Симферополь, Севастополь и другие районы Крыма в любых объемах без ограничений.
		+e.adv-banner
			+e.adv-banner-title Наши приоритеты в работе:
			+e.adv-banner-subtitle высокое качество продукции и надежность поставок для всех категорий покупателей.
		
		+e.img-block
			img.res-i(src='img/@2x/about-side-i.jpg' alt='')
			p Поставщики продукции – проверенные производители цемента из Крыма и других регионов России. «Цементный двор» активно сотрудничает с Бахчисарайским цементным заводом «Стройиндустрия», ОАО «Верхнебаканским цементным заводом» и одним из первых привез в Крым продукцию Новороссийского ОАО «Новоросцемент».
			p Вместе с поставками цемента от сторонних поставщиков, компания продает и собственную продукцию под торговой маркой «Россцемент» - качественный цемент по доступной цене.
		
		hr

		+e.list-block
			h2 Почему строители Крыма покупают цемент у компании «Цементный двор»
			ul
				li скидки постоянным клиентам
				li оперативная доставка в любую точку Крыма
				li электронная весовая для гарантии точности отгрузки
				li стабильно высокое качество
		
		hr

		+e.form-block
			h3 Задайте любой вопрос эксперту компании «Цементный двор»
			p Оставьте свой номер телефона, и в течение 15 минут вам позвонит эксперт компании, которому Вы сможете задать любой вопрос по продукции или условиям сотрудничества.
			+form-wrap
				.row
					.col-md-8
						+input('Сообщение','textarea')
					.col-md-4
						.row
							.col-12
								+input('Номер телефона','tel')
							.col-12
								+e.BUTTON.btn.btn.btn-danger(type="submit") Задать вопрос
			p Или позвоните по телефону: 
				a(href='tel:+79781000345') +7(978)1000-345


	// end s-about