mixin s-delivery()
	// start s-delivery
	+b.SECTION.s-delivery.section#s-delivery&attributes(attributes)
		h2.section-title Наш автотранспорт
		.row
			mixin delivery-i(i, t)
				+e.col.col-md-6
					+e.item
						+e.item-img
							img.res-i(src='img/@2x/delivery-i1.jpg' alt='')
						+e.item-descr
							+e.item-title DAF
							p Грузоподьемность: до 40 тонн
							br
							p Направление разгрузки:
							p назад
			- for (var x = 0; x < 8; x++)
				+delivery-i()

	// end s-delivery