extends layout/main.pug


include ../blocks/s-main-page-catalog/_s-main-page-catalog.pug
include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-sidebar/_s-sidebar.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-contacts/_s-contacts.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Контакты'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	//- +header-block()
	.container
		.page-row.row
			.col-lg-9
				+breadcrumb('Главная', title)
				h1.page-title=title
				+s-contacts()
			.col-lg-3.order-lg-first
				+s-sidebar()
	+footer()