extends layout/main.pug


include ../blocks/s-main-page-catalog/_s-main-page-catalog.pug
include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-sidebar/_s-sidebar.pug
include ../blocks/s-catalog/_s-catalog.pug
include ../blocks/s-blog-catalog/_s-blog-catalog.pug
include ../blocks/s-page-banners/_s-page-banners.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Новости'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		.page-row.row
			.col-lg-9
				+s-page-banners()
				+s-blog-catalog()
			.col-lg-3
				+s-sidebar()
	+footer()