mixin s-contacts()
	// start s-contacts
	+b.SECTION.s-contacts.section#s-contacts&attributes(attributes)
		+e.wrap
			+e.block
				.row
					.col-md-6
						p
							strong г. Симферополь
						p Звоните:<br>
							a(href='tel:+79781000345') +7 (978) 1000 - 345
						p Пишите:<br>
							a(href='mailto:skladcemdvor@mail.ru') skladcemdvor@mail.ru
						p Приходите:<br>
							span г. Симферополь. ул. Данилова, 55
						p Время работы: пн – пт 8.00–17.00, сб 8.00-14.00
					.col-md-6
						+e.map-wrap
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A66787b6b625b635b54996978d39a19acceed9bad718b55af4921193b71d82d21&amp;source=constructor" width="428" height="282"></iframe>
			+e.block
				.row
					.col-md-6
						p
							strong г. Симферополь
						p Звоните:<br>
							a(href='tel:+79781000345') +7 (978) 1000 - 345
						p Пишите:<br>
							a(href='mailto:skladcemdvor@mail.ru') skladcemdvor@mail.ru
						p Приходите:<br>
							span г. Симферополь. ул. Данилова, 55
						p Время работы: пн – пт 8.00–17.00, сб 8.00-14.00
					.col-md-6
						+e.map-wrap
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A66787b6b625b635b54996978d39a19acceed9bad718b55af4921193b71d82d21&amp;source=constructor" width="428" height="282"></iframe>
			+e.block
				.row
					.col-md-6
						p
							strong г. Симферополь
						p Звоните:<br>
							a(href='tel:+79781000345') +7 (978) 1000 - 345
						p Пишите:<br>
							a(href='mailto:skladcemdvor@mail.ru') skladcemdvor@mail.ru
						p Приходите:<br>
							span г. Симферополь. ул. Данилова, 55
						p Время работы: пн – пт 8.00–17.00, сб 8.00-14.00
					.col-md-6
						+e.map-wrap
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A66787b6b625b635b54996978d39a19acceed9bad718b55af4921193b71d82d21&amp;source=constructor" width="428" height="282"></iframe>
			+e.block
				.row
					.col-md-6
						p
							strong г. Симферополь
						p Звоните:<br>
							a(href='tel:+79781000345') +7 (978) 1000 - 345
						p Пишите:<br>
							a(href='mailto:skladcemdvor@mail.ru') skladcemdvor@mail.ru
						p Приходите:<br>
							span г. Симферополь. ул. Данилова, 55
						p Время работы: пн – пт 8.00–17.00, сб 8.00-14.00
					.col-md-6
						+e.map-wrap
							<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A66787b6b625b635b54996978d39a19acceed9bad718b55af4921193b71d82d21&amp;source=constructor" width="428" height="282"></iframe>
		+e.form-block
			h3 Связаться с нами
			+form-wrap
				.row
					.col-md-4
						.row
							+e.in-col.col-md-12.col-sm-6
								+input('Имя')
							+e.in-col.col-md-12.col-sm-6
								+input('Email')
					+e.text-col.col-md-8
						+input('Сообщение','textarea')
					+e.btn-col.col-12
						+e.BUTTON.btn.btn.btn-danger(type="submit") Отправить сообщение

	
	// end s-contacts