mixin s-stock()
	// start s-stock
	+b.SECTION.s-stock.section#s-stock&attributes(attributes)
		h2.section-title Акции
		.row
			- for (var x = 0; x < 8; x++)
				+e.col.col-md-3.col-sm-4.col-6
					+main-page-catalog-i()
	// end s-stock